.container {
    padding: 15px 15px 15px 15px;
}
#contact-form {
    padding-bottom: 25px;
}
.btn {
    margin-top: 10px;
}

.lead {
    font-size: 2em;
}

#colForm {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 15px;
}
#headingForm {
    margin-top: 10px;
}

a.anchor {
    display: block;
    position: relative;
    top: -3.5rem;
    visibility: hidden;
}

.img-thumbnail {
    height: 10rem;
    width: 10rem;
    margin-top: 2.5rem;
}
.card-image-top {
    width: 25px;
}
.textRed {
    color: red;
}

/* .jumbotron {
background-color: #6b2d5c;
color:  white;
} */
    @media only screen and (max-width: 600px) {
        .display-1 {
            font-size: 4em;
        }
        .display-3 {
            font-size: 2em;
        }
        a.anchor {
            top: -10.5rem;
        }
    }
